<html>
<head>
    <title>Condicion de cultivo - Informe de propiedad</title>
    <link rel="stylesheet" href="assets/styles/report.style.css">
</head>
<body>
    <header class="header">
        <h1 class="title">Informe de propiedad</h1>
        <span class="subtitle">Condici&oacute;n de cultivo</span>
    </header>
    <main class='content'>
        <section class="report-details">
            <time class="date">
                <span class="month">{{ report['month'] }}</span>
                <span class="year">{{ report['year'] }}</span>
            </time>
            <div class="site">
                <dl class="details">
                    <dt class="detail">Ubicaci&oacute;n:</dt>
                    <dd class="value">{{ farm['location'] }}</dd>
                    <dt class="detail">Coordenadas:</dt>
                    <dd class="value">{{ farm['coordinates'] }}</dd>
                    <dt class="detail">ID:</dt>
                    <dd class="value">{{ farm['id'] }}</dd>
                    <dt class="detail">Tama&ntilde;o:</dt>
                    <dd class="value">{{ farm['size'] }}</dd>
                    <dt class="detail">Especie:</dt>
                    <dd class="value">{{ farm['species'] }}</dd>
                    <dt class="detail">Variedad:</dt>
                    <dd class="value">{{ farm['variety'] }}</dd>
                </dl>
                <figure class="graphic">
                    <img class='plot' src="{{ files['site'] }}" alt="satellite image"/>
                </figure>
            </div>
        </section>
        {% set vigor_data = data['vigor'] %}
        {% set uniformity_data = data['uniformity'] %}
        <section class="report-data">
            <table class="table vigor-table">
                <thead class="table-header">
                    <tr class="row">
                        <th></th>
                        <th colspan="2" class='dimension title stripped-row'>Vigor vegetativo</th>
                        <th class="cell-gap"></th>
                        <th colspan="2" class='dimension title stripped-row'>Uniformidad</th>
                        <th></th>
                    </tr>
                    <tr class="row stripped-row">
                        <th class="dimension">&Iacute;ndice</th>
                        <th class="dimension">Actual</th>
                        <th class="dimension">Previo</th>
                        <th class="cell-gap"></th>
                        <th class="dimension">Actual</th>
                        <th class="dimension">Previo</th>
                        <th class="dimension"></th>
                    </tr>
                </thead>
                <tbody class="body">
                    <tr class='row stripped-row values'>
                        <td class="index">Agua</td>
                        <td class='value'><span class="{% set value = vigor_data['water']['current'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td class='value'><span class="{% set value = vigor_data['water']['previous'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td class="cell-gap"></td>
                        <td class='value'><span class="{% set value = uniformity_data['water']['current'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td class='value'><span class="{% set value = uniformity_data['water']['previous'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td></td>
                    </tr>
                    <tr class='row values'>
                        <td class="index">Suelo</td>
                        <td class='value'><span class="{% set value = vigor_data['soil']['current'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td class='value'><span class="{% set value = vigor_data['soil']['previous'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td class="cell-gap"></td>
                        <td class='value'><span class="{% set value = uniformity_data['soil']['current'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td class='value'><span class="{% set value = uniformity_data['soil']['previous'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="report-graphics">
            <figure class="graphic vigor semi-boxed">
                <table class="table figure-table">
                    <tbody class="body">
                        <tr class='row values'>
                            <td class="index">Vegetaci&oacute;n</td>
                            <td class='value'><span class="{% set value = vigor_data['vegetation']['current'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                            <td class='value'><span class="{% set value = vigor_data['vegetation']['previous'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                        </tr>
                    </tbody>
                </table>
                <img class="plot" src="{{ files['vigor'] }}" alt="vigor plot"/>
                <figcaption class="description">
                    <span class="detail">Descripci&oacute;n:</span>
                    <p class="content">Refleja el vigor vegetativo general del cuartel bajo</br> condiciones actuales.</p>
                    <p class="content">El &iacute;ndice puede tomar valores entre 0 y 100%.</p>
                </figcaption>
            </figure>
            <figure class="graphic uniformity semi-boxed">
                <table class="table figure-table">
                    <tbody class="body">
                        <tr class='row values'>
                            <td class='value'><span class="{% set value = uniformity_data['vegetation']['current'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                            <td class='value'><span class="{% set value = uniformity_data['vegetation']['previous'] | int %}{% if value > 90 %} red{% elif value > 60 %} yellow{% elif value > 0 %} red{% else %} unknown{% endif %}">{{ value }}</span></td>
                            <td class="index"></td>
                        </tr>
                    </tbody>
                </table>
                <img class="plot" src="{{ files['uniformity'] }}" alt="uniformity plot"/>
                <figcaption class="description">
                    <span class="detail">Descripci&oacute;n:</span>
                    <p class="content">Refleja el vigor vegetativo general del cuartel bajo</br> condiciones actuales.</p>
                    <p class="content">El &iacute;ndice puede tomar valores entre 0 y 100%.</p>
                </figcaption>
            </figure>
            <figure class="graphic timeline">
                <img class="plot" src="{{ files['timeline'] }}" alt="timeline plot"/>
                <figcaption class="description">
                    <p class="detail">Comportamiento temporal</br> del &iacute;ndice de vegetaci&oacute;n a nivel de cuartel</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p>
                </figcaption>
            </figure>
        </section>
    </main>
    <footer class="branding">
        <figure class="logos">
            <img class="logo proyectae" src="assets/images/proyectae.logo.png" alt="proyectae">
            <img class="logo csiro" src="assets/images/csiro.logo.png" alt="csiro">
        </figure>
        <p class="disclaimer">Informe de propiedad | <span class="date">{{ report.month }} {{ report.year }}</span></p>
    </footer>
</body>
</html>