@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamRegular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.otf') format('opentype');
    font-weight: 100;
}

@page {
    size: letter;
    margin: 0;
}

html {
    background-color: rgb(131, 131, 131);
    width: 8.5in;
    height: 11in;
}

body {
    background-color: white;
    color: black;
    width: 8.5in;
    height: 11in;
    margin: 0;
    /* margin: .8em; */
    padding: 0;
    font-family: 'Gotham', sans-serif;
    position: relative;
}

figure {
    margin: 0;
    padding: 0
}

.table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.table .index, .table .value, .table .dimension {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: .5em;
    font-size: .7em;
}

.table .stripped-row {
    border-bottom: .5px solid rgb(67,161, 199);
}

.header {
    padding: 0 2.2em;
    padding-top: 1.5em;
    display: flex;
    flex-flow: column-reverse nowrap;
    width: calc(100% - 6em);
}

.header .title {
    /* padding: .2em .1em; */
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
}

.header .subtitle {
    background-color: rgb(74,159, 181);
    color: white;
    padding: .2em;
    /* font-size: 1.5em; */
    width: fit-content;
    font-weight: bold;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.report-details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
    background: linear-gradient(to bottom, transparent 30%, rgb(74,159, 181) 30% 70%, transparent 70%);
    justify-items: center;
}

.report-details .date {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    height: min-content;
    width: 25%;
}

.report-details .date .month {
    padding: .2em 0 .5em;
    /* font-size: 1.3em; */
}

.report-details .date .year {
    padding: .5em 0 .2em;
    /* font-size: 1.3em; */
}


.report-details .site {
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    background-color: white;
    border: 1.5px solid rgb(67,161, 199);
    padding: .5em;
    height: 1.8in;
    align-items: center;
}

.report-details .site .details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, 1fr);
    flex: 1;
    width: 100%;
    font-size: .7em;
    height: fit-content;
    margin: 0;
}

.report-details .site .details .detail {
    justify-self: right;
    font-weight: bold;
}

.report-details .site .details .value {
    margin: 0 1em;
}

.report-details .site .details .detail {
    padding: .25em 0 .25em;
}

.report-details .site .details .value {
    padding: .25em 0 .25em;
}

.report-details .site .graphic {
    height: 100%;
    width: 45%;
}

.report-details .site .graphic .plot {
    height: 100%;
    width: 100%;
}

.report-data {
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
}

.report-data .table .index, .report-data .table .value {
    width: calc(100% / 7);
}

.report-graphics .table {
    width: calc(210% / 7 * 3);
}
.report-graphics .table .index, .report-graphics .table .value {
    width: calc(90% / 3);
}

.report-graphics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 'vigor uniformity' 'timeline timeline';
    grid-gap: 5%;
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
}

.report-graphics .graphic {
    display: flex;
    flex-flow: column nowrap;
}

.report-graphics .graphic .description {
    flex: 1;
    font-size: .5em;
}

.report-graphics .graphic .description .content {
    margin: 0;
}

.report-graphics .graphic.vigor {
    grid-area: vigor;
    border-top: 2px solid rgb(67,161, 199);
    border-right: 2px solid rgb(67,161, 199);
    height: 3in;
    /* border-bottom: 2px solid rgb(67,161, 199); */
}

.report-graphics .graphic.vigor:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-right: 0;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid rgb(67,161, 199);
}

.report-graphics .graphic.vigor .plot {
    width: 3.5in;
    height: 2.2in;
}

.report-graphics .graphic.uniformity {
    grid-area: uniformity;
    border-top: 2px solid rgb(67,161, 199);
    border-left: 2px solid rgb(67,161, 199);
    height: 3in;
    /* border-bottom: 2px solid rgb(67,161, 199); */
}

.report-graphics .graphic.uniformity .table {
    align-self: flex-end;
}

.report-graphics .graphic.uniformity:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-left: 0;
    bottom: 0;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid rgb(67,161, 199);
}

.report-graphics .graphic.uniformity .plot {
    width: 3.5in;
    height: 2.2in;
}

.report-graphics .graphic.timeline {
    grid-area: timeline;
    grid-gap: 1em;
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 2in;
    overflow: hidden;
}

.report-graphics .graphic.timeline .plot {
    width: 6in;
}

.report-graphics .graphic.timeline .description {
    width: 40%;
    text-align: right;
}

.description .detail {
    font-weight: bold;
}

.branding {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
    background: linear-gradient(to bottom, transparent 30%, black 30% 70%, transparent 70%);
    justify-items: center;
    position: absolute;
    bottom: 0;
}

.branding .logos {
    display: flex;
    flex-flow: row nowrap;
    height: 6em;
    background-color: white;
}

.branding .logos .logo.proyectae {
    padding-left: 1em;
    width: 1in;
    width: 1in;
}

.branding .logos .logo.csiro {
    width: 1in;
    width: 1in;
}

.branding .disclaimer {
    padding: .5em;
    color: white;
}

.branding .disclaimer .date {
    font-weight: bold;
}