@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.otf') format('opentype');
    font-weight: 100;
}

@page {
    size: letter;
    margin: 0;
}

html {
    background-color: rgb(131, 131, 131);
    width: 8.5in;
    height: 11in;
}

body {
    background-color: white;
    color: black;
    width: 8.5in;
    height: 11in;
    margin: 0;
    /* margin: .8em; */
    padding: 0;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    position: relative;
    background-image: url(../images/background.report.png);
    background-repeat: no-repeat;
    background-size: contain;
}

figure {
    margin: 0;
    padding: 0
}

.header {
    padding: 0 2.2em;
    padding-top: 1.5em;
    display: flex;
    flex-flow: column-reverse nowrap;
    width: calc(100% - 6em);
}

.header .title {
    /* padding: .2em .1em; */
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
}

.header .subtitle {
    background-color: rgb(74,159, 181);
    color: white;
    padding: .2em;
    /* font-size: 1.5em; */
    width: fit-content;
    font-weight: 700;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.report-details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
    background: linear-gradient(to bottom, transparent 30%, rgb(74,159, 181) 30% 70%, transparent 70%);
    justify-items: center;
}

.report-details .date {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    height: min-content;
    width: 25%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}

.report-details .site {
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    background-color: white;
    border: 1.5px solid rgb(67,161, 199);
    padding: .5em;
    height: 1.8in;
    align-items: center;
}

.report-details .site .details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, 1fr);
    flex: 1;
    width: 100%;
    font-size: .7em;
    height: fit-content;
    margin: 0;
}

.report-details .site .details .detail {
    justify-self: right;
    font-weight: 700;
}

.report-details .site .details .value {
    margin: 0 1em;
}

.report-details .site .details .detail {
    padding: .25em 0 .25em;
}

.report-details .site .details .value {
    padding: .25em 0 .25em;
}

.report-details .site .graphic {
    height: 100%;
    width: 45%;
}

.report-details .site .graphic .plot {
    height: 100%;
    width: 100%;
}

.report-data {
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
}

.table {
    border-collapse: collapse;
}

.table .stripped-row {
    border-bottom: .5px solid rgb(67,161, 199);
}

.table .index,
.table .value,
.table .dimension,
.table .cell-gap {
    overflow: hidden;
    white-space: nowrap;
    padding: .5em 0;
    font-size: .7em;
    width: 1in;
    font-weight: 400;
}

.table .cell-gap {
    width: 1.8in;
}

.table .value {
    text-align: center;
}

.table .index {
    text-align: right;
}

.table .dimension.index,
.table .dimension.title {
    font-weight: 700;   
}


.table .value .red {
    background-color: rgb(255, 163, 127);
    font-weight: 700;
    width: 90%;
    padding: 0;
    text-align: center;
    display: inline-block;

}

.table .value .yellow {
    background-color: rgb(255, 211, 135);
    font-weight: 700;
    width: 90%;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.table .value .green{
    background-color: rgb(170, 216, 134);
    font-weight: 700;
    width: 90%;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.table .value .unknown{
    background-color: lightgray;
    font-weight: 700;
    width: 90%;
    padding: 0;
    text-align: center;
    display: inline-block;
}


.report-graphics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 'vigor uniformity' 'timeline timeline';
    grid-gap: 5%;
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
}

.report-graphics .graphic {
    display: flex;
    flex-flow: column nowrap;
}

.report-graphics .graphic .plot {
    align-self: center;
    padding-top: .5em;
}

.report-graphics .graphic .description {
    flex: 1;
    font-size: .6em;
    align-self: center;
    padding-top: 1em;
    width: 98%;
    margin-left: 20%
}

.report-graphics .graphic .description .content {
    margin: 0;
    width: 80%;
}

.report-graphics .graphic.vigor {
    grid-area: vigor;
    border-right: 2px solid rgb(67,161, 199);
}

.report-graphics .graphic.semi-boxed {
    border-top: 2px solid rgb(67,161, 199);
    height: calc(3.5in);
}

.report-graphics .graphic.semi-boxed:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 1px;}

.report-graphics .graphic.semi-boxed.vigor:after {
    margin-right: 0;
    border-bottom: 2px solid rgb(67,161, 199);
}

.report-graphics .graphic.vigor .plot {
    width: 98%;
    height: 2.45in;
}


.report-graphics .graphic.vigor .table {
    align-self: flex-start;
}

.report-graphics .graphic.uniformity {
    grid-area: uniformity;
    border-left: 2px solid rgb(67,161, 199);
}

.report-graphics .graphic.uniformity .table {
    align-self: flex-end;
}

.report-graphics .graphic.semi-boxed.uniformity:after {
    margin-left: 0;
    border-bottom: 2px solid rgb(67,161, 199);
}

.report-graphics .graphic.uniformity .plot {
    width: 98%;
    height: 2.45in;
}

.report-graphics .graphic.timeline {
    grid-area: timeline;
    grid-gap: 1em;
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 2in;
    overflow: hidden;
}

.report-graphics .graphic.timeline .plot {
    width: 60%;
    height: max-content;
    align-self: start;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.report-graphics .graphic.timeline .description {
    width: 40%;
    text-align: right;
    align-self: start;
    font-size: .7em;
    padding-top: 0;
    margin-left: 0;
}

.report-graphics .graphic.timeline .description .content {
    width: 100%;
}

.description .detail {
    font-weight: 700;
}

.branding {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(100% - 4.4em);
    padding: 0 2.2em;
    background: linear-gradient(to bottom, transparent 30%, black 30% 70%, transparent 70%);
    justify-items: center;
    position: absolute;
    bottom: 0;
}

.branding .logos {
    display: flex;
    flex-flow: row nowrap;
    height: 6em;
    background-color: white;
}

.branding .logos .logo.proyectae {
    padding-left: 1em;
    width: 1in;
    width: 1in;
}

.branding .logos .logo.csiro {
    width: 1in;
    width: 1in;
}

.branding .disclaimer {
    padding: .5em;
    color: white;
}

.branding .disclaimer .date {
    font-weight: 700;
}